.cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.cat-title {
  width: 100%;
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
  text-align: center;
}

.cat-title h1 {
  margin-bottom: 0px;
  background: linear-gradient(330deg, #f05252 0%, #a9e052 25%, #00e0e0 50%, #9952e0 75%, #f09952 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.click-count {
  text-align: center;
  height: 40px;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cat-image-box {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  width: 270px;
  font-family: "Fjalla One", sans-serif;
  border: solid 2px magenta;
  border-radius: 10px;
}

.cat-image-box h2 {
  display: block;
}

.cat-image {
  margin: 10px;
  cursor: pointer;
}
